body {
    background-color: #735449
}

div {
   margin-left: auto;
    margin-right: auto;
    width: 900px;
 
}


img {
    border-width: medium
   border-color: black;
    background-color: chocolate;
}


h1 {
   color: #BF8969
    font-style: italic;
    text-align: center;
    font-size: 40px;
}


a {
    font-size: 32px;
    color: #FFFFFF;
}



ol {
    color: #FFFFFF;
}

ul {
   color: #FFFFFF; 
}
